#instaLogo {
  margin-top: 0.35em;
  margin-left: 1em;
  height: 25px;
}

#TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width:100%;
  position:fixed;
  top:0px;
  background-color: #eee;
  z-index: 9;
}

#TopBarRightSide {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

#TopBarButtons {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.menu {
  font-size: 0.9em;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 10em;
  height: auto;
  margin: 0;
/* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}