@font-face {
  font-family: 'instagramFont';
  src: local('instagramFont'), url(../../fonts/instagram-font.otf) format('opentype')
}

#login {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gainsboro;
  padding: 2em;
}

#loginTitle {
  font-family: 'instagramFont';
  font-size: 2.5em;
  margin-top: 0.3em;
}