a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

#contentWrapper {
  margin-top: 4em;
}

/* @font-face {
  font-family: 'instagramFont';
  src: local('instagramFont'), url(../../fonts/instagram-font.otf) format('opentype')
} */

.logo {
  margin-left: 0.7em;
  font-family: 'instagramFont';
  font-size: 1.7em;
}

.profile {
  display: flex;
  align-items: center;
}

.post {
  display: inline-block;
  border: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  border-color:gainsboro;
  padding-bottom: 0.5em;
  text-align: left;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-bottom: 1em;
}

.posts {
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.post {
  width: fit-content;
  /* margin: 0 20% 0 20%; */
}

.likes {
  display: flex;
  align-items: center;
}

.comments {
  max-height: 5em;
  text-align: left;
  overflow-y:scroll;
  margin-bottom: 0.5em;
}

.App {
  font-family: 'Neue Helvetica';
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}