.profile {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post {
  display: inline-block;
  border: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  border-color:gainsboro;
  padding-bottom: 0.5em;
}

.posts {
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.post {
  width: fit-content;
  /* margin: 0 20% 0 20%; */
}

.likes {
  display: flex;
  align-items: center;
}

.comments {
  max-height: 5em;
  text-align: left;
  padding-left: 1em;
  overflow-y:scroll;
}